@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

$dark-color:            rgb(31, 29, 29);
$backgroundH2-color:    #fff;
$linkH1-color:          #E65C43;
$h3-color:              #666;

$font-family: 'Roboto', sans-serif;

// $mobile: 459px;
// $tablet: 767px;
// $desktop: 959px;